.App {
    height: 100vh;
    width: 100vw;
    background: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    padding: 16px;
    border-radius: 8px;
}

.content {
    width: 600px;
}

.interval {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.interval__input_range {
    width: 200px;
    margin-right: 16px;
}

.interval__input_number {
    width: 40px;
    padding: 4px;
    margin-right: 4px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}

.button {
    margin-left: 40px;
    padding: 8px 16px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 20px;
    background: #abdfff;
}

.button_blue {
    background: #abdfff;
}

.button_red {
    background: #e52b50;
}

.canvas {
    height: 400px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.canvas_item {
    border: 1px solid #d1d1d1;
    border-radius: 4px;

    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

    visibility: hidden;
}

.canvas_item_show {
    visibility: visible;
}

.wrapper_letter {
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;

}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.hand {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #d3d3d3;
}
